In [32]:
#pip install pandas

Collecting pandas
  Downloading pandas-1.4.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 9.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/big/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
     |████████████████████████████████| 500 kB 5.3 MB/s eta 0:00:01
Collecting numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10"
  Downloading numpy-1.23.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     |████████████████████████████████| 17.1 MB 714 kB/s eta 0:00:01    |██████████████████▍             | 9.8 MB 6.2 MB/s eta 0:00:02     |█████████████████████▎          | 11.4 MB 6.2 MB/s eta 0:00:01     |███████████████████████████     | 14.4 MB 6.2 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Installing collected packages: pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/home/big/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.23.2 pandas-1.4.4 pytz-2022.2.1
Note: you may need to restart the kernel to use updated packages.

In [54]:
#pip install numpy

Requirement already satisfied: numpy in /home/big/.local/lib/python3.8/site-packages (1.23.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

# Transformation - Action

In [2]:
#실행 여러 줄 하게 해주는 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# RDD Transformation

-  데이터를 가공하기 위한 논리적 실행계획
-  기존의 RDD에 연산이 반영된 새로운 RDD를 반환한다.

# Transformation 메서드

1. filter()
2. map()
3. flatMap()
4. distinct()
5. zip()
6. join()
6. reduceByKey()
7. mapValues()
8. sortBy()

## Transformation - filter()

In [3]:
score_rdd = sc.textFile("/rdd/score.txt")
# filter()
# 조건에 맞는 데이터만
score_rdd.filter(lambda e : '스파크' in e).collect()
score_rdd.filter(lambda e : '스파크' in e).filter(lambda e :'홍길' in e).collect()
type(score_rdd.filter(lambda e : '스파크' in e)) #결과 : rdd

#문제 생기면 최종 rdd 실행할 수 있어서 회복 가능

['하명도 스파크 50', '홍길동 스파크 80', '임꺽정 스파크 60']

['홍길동 스파크 80']

pyspark.rdd.PipelinedRDD

## Transformation - map()

In [4]:
# map()
# 각각의 요소에 적용
data = [1,3,5,7,9]
map_rdd=sc.parallelize(data)
map_rdd.map(lambda e : e*2).collect()

[2, 6, 10, 14, 18]

## Transformation - flatMap()

In [5]:
#flatMap()
#각각의 요소에 함수를 적용한 다음 평면화 시켜주는 함수
nlist =[[1,2,3],[4,5,6],[7,8,9]]
flat_rdd=sc.parallelize(nlist)
def append_data(e): #넘어오는 인자가 list라서 아래에서 append 쓴다
    e.append(100)
    return e

res = flat_rdd.flatMap(lambda e : append_data(e)).collect()
len(res)
res
#[[1,2,3,100],[4,5,6,100],[7,8,9,100]] 로 나올것을 기대했으나  [1, 2, 3, 100, 4, 5, 6, 100, 7, 8, 9, 100] 이 나옴
#flat 으로 평면화 해서 2차원은 1차원으로, 3차원은 2차원으로 바꿔서 출력

12

[1, 2, 3, 100, 4, 5, 6, 100, 7, 8, 9, 100]

In [6]:
tmp = [[1, 2, 3,], 4, 5]
# sc.parallelize(tmp).flatMap(lambda e : e ).collect() #에러남
#첫번째 요소는 평면화 할게 있는데, 4,5 는 평면화 할게 없어서 에러 남

In [24]:
res =score_rdd.flatMap(lambda e : e + '점').collect()
res

['하',
 '명',
 '도',
 ' ',
 '스',
 '파',
 '크',
 ' ',
 '5',
 '0',
 '점',
 '홍',
 '길',
 '동',
 ' ',
 '스',
 '파',
 '크',
 ' ',
 '8',
 '0',
 '점',
 '임',
 '꺽',
 '정',
 ' ',
 '스',
 '파',
 '크',
 ' ',
 '6',
 '0',
 '점',
 '임',
 '요',
 '환',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '1',
 '0',
 '0',
 '점',
 '홍',
 '진',
 '호',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '2',
 '2',
 '점',
 '홍',
 '진',
 '호',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '2',
 '2',
 '점',
 '이',
 '윤',
 '열',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '9',
 '0',
 '점']

# 연습문제 : filter, map, flatMap 

nlist안의 요소들중 홀수인 요소만 추출하여 100을 곱하여 list로 반환하시오  

 - nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]

 - 결과 : [100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

In [7]:
nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]
flat_rdd2=sc.parallelize(nlist)
flat_rdd2.flatMap(lambda e:e).flatMap(lambda e:e).filter(lambda e : e%2 ==1).map(lambda e:e*100).collect()

# nlist_rdd.filter(lambda x : if x%2 !=0).collect()
# flat_rdd3.flatMap(lambda x : x*100, filter(lambda x : x%2 !=0)).collect()

[100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

## Transformation - distinct()

In [8]:
#중복제거
nlist = [1, 2, 3, 1, 2, 3, 1, 2, 3 , 4, 5]
distinct_rdd=sc.parallelize(nlist)
distinct_rdd.distinct().collect()

slist = ['안녕','반가워','hello','hello']
distinct_rdd=sc.parallelize(slist)
distinct_rdd.distinct().collect()

[2, 4, 3, 1, 5]

['hello', '안녕', '반가워']

## Transformation - zip()

In [9]:
#zip() : 두 rdd를 결합해 하나의 key-value 형태의 rdd(Pair RDD)로 생성
foods = ['파스타','스테이크', '불고기', '비빔밥', '김치']
category = ['양식', '양식', '한식', '한식', '한식']

foods_rdd =sc.parallelize(foods)
category_rdd=sc.parallelize(category)
zip_rdd = category_rdd.zip(foods_rdd)
zip_rdd #type 반환
zip_rdd.collect()

org.apache.spark.api.java.JavaPairRDD@54da4353

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

In [126]:
#tuple의 list로 RDD 생성하면 Pair RDD 생성된다.
tmp = list(map(lambda a,b : (a,b), category, foods ))
# tmp
tmp_rdd=sc.parallelize(tmp)
tmp_rdd.collect()

tmp = list(zip(category, foods))
tmp_rdd=sc.parallelize(tmp)
    
# print('zip 결과')
tmp_rdd.collect()

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

## Transformation - reduceByKey(), mapValues()

In [10]:
#reduceByKey, 키값을 기준으로 value값들을 연산
#rdd 안에 있는걸 하나하나 다 찾아서 양식에 하나씩 모으고 한식에 하나씩 모아서 한 카테고리 안에서 키값이 모아져 있는애들과 다른 데이터들을 합치는 과정
#불고기,비빔밥합쳐진거(a)에 김치(b) 가 되는 형식
zip_rdd.reduceByKey(lambda a,b : a + ',' + b).collect()

[('양식', '파스타,스테이크'), ('한식', '불고기,비빔밥,김치')]

In [13]:
#mapValues, Pair RDD의 value들에 대해 map 연산을 수행
#'' 로 구분
res = zip_rdd.reduceByKey(lambda a,b : a + ',' + b) \
    .mapValues(lambda e : e.split(','))

res.collect()

[('양식', ['파스타', '스테이크']), ('한식', ['불고기', '비빔밥', '김치'])]

## Transformation - sortBy()

In [15]:
#[0]:key 값 기준으로 정렬
#[1] : value값 기준으로 정렬
#위에서 res 정의해 줘야 함
#키값으로 내림차순
res.sortBy(lambda e : e[0], ascending = False).collect() # 'list' object has no attribute 'sortBy'

res.sortBy(lambda e : e[1]).collect()#불고기, 파스타 중 불고기가 더 앞이니까 한식 먼저 나옴

#메뉴 가짓수로 오름차순
res.sortBy(lambda e : len(e[1]),ascending=False).collect()

#응용: 2번 인덱스 기준으로 정렬
res.sortBy(lambda e : e[1][1],ascending=False).collect()

[('한식', ['불고기', '비빔밥', '김치']), ('양식', ['파스타', '스테이크'])]

[('한식', ['불고기', '비빔밥', '김치']), ('양식', ['파스타', '스테이크'])]

[('한식', ['불고기', '비빔밥', '김치']), ('양식', ['파스타', '스테이크'])]

[('양식', ['파스타', '스테이크']), ('한식', ['불고기', '비빔밥', '김치'])]

# 연습문제 : distinct, zip, reduceByKey, sortBy 
 - hdfs의 /score.txt 파일을 읽어와 RDD로 생성하시오
 - 각 과목별 명단을 추출하시오
 - 각 과목별 평균점수를 추출하시오
 - 이때 중복으로 들어간 홍진호의 데이터는 한번만 적용되도록 합니다.  
 
 
 
 - 결과 :  
 [('스파크', {'명단': ['하명도', '홍길동', '임꺽정']}), ('텐서플로우', {'명단': ['임요환', '홍진호', '이윤열']})]       
  
 [('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

In [26]:
score_rdd = sc.textFile("/rdd/score.txt")
base = score_rdd.distinct() \
    .map(lambda e : e.split(' '))
base.collect()
students = base.map(lambda e :(e[1],e[0]))
students.collect()
students = base.map(lambda e :(e[1],e[0])).reduceByKey(lambda a,b : a+','+b)\
                .mapValues(lambda e : e.split(',')).mapValues(lambda e : {'명단':e}) #리스트로, 명단 딕셔너리로
students.collect()

#split 없이 쓰기
#[e[0]] :길이가 하나짜리인  리스트로 만들기
# students = base.map(lambda e :(e[1],[e[0]])).reduceByKey(lambda a,b : a +b)\
#                 .mapValues(lambda e : {'명단':e}) #리스트로, 명단 딕셔너리로
# students.collect()


# # #2번 문제
# #과목 먼저, 점수 뒤에
score_avg = base.map(lambda e:(e[1],[int(e[2])])).reduceByKey(lambda a,b : a+b).mapValues(lambda e : {'평균점수': sum(e)/len(e)})
score_avg.collect()
score_avg.collect()

# students=base.map()
# base.collect()
# score_rdd.collect()

[('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

In [68]:

#distinct 홍진호 날릴때, reducebykey, map 사용,mapvalues 사용, sortby는 쓰지 않음
score_rdd = sc.textFile("/rdd/score.txt")
slist=score_rdd.collect()
#중복제거
distinct_rdd=sc.parallelize(slist)
distinct_rdd2=distinct_rdd.distinct().collect()
distinct_rdd2
len(distinct_rdd2)

#나누기
# distinct_rdd2[0].split(" ")
a=[]
for e in distinct_rdd2 :
    result=e.split(",")
    a.append(result)
print(a)
A = np.array(a)
A2=A.reshape(6,3)
B=A.T
B 
# distinct_rdd.distinct().mapValues(lambda e : e.split(',')).collect()
# distinct_rdd2.split(",")
# pd.dataframe(distinct_rdd2)
# dd=distinct_rdd2.split(',')
# res=distinct_rdd2.reduceByKey(lambda a,b : a+','+b).collect()

# distinct_rdd2.lambda e:e.split(' ').collect()

['하명도 스파크 50',
 '홍길동 스파크 80',
 '이윤열 텐서플로우 90',
 '임요환 텐서플로우 100',
 '홍진호 텐서플로우 22',
 '임꺽정 스파크 60']

6

[['하명도 스파크 50'], ['홍길동 스파크 80'], ['이윤열 텐서플로우 90'], ['임요환 텐서플로우 100'], ['홍진호 텐서플로우 22'], ['임꺽정 스파크 60']]

ValueError: cannot reshape array of size 6 into shape (6,3)

In [63]:
A.T

array([['하명도 스파크 50', '홍길동 스파크 80', '이윤열 텐서플로우 90', '임요환 텐서플로우 100',
        '홍진호 텐서플로우 22', '임꺽정 스파크 60']], dtype='<U13')

In [15]:
score_rdd = sc.textFile("/rdd/score.txt")
slist=score_rdd.collect()
#1. 중복제거, split
distinct_rdd=sc.parallelize(slist)
distinct_rdd2=distinct_rdd.distinct().collect()
# distinct_rdd.map(lambda x: (x.split(",")[1],x.split(" ")[0]))
# distinct_rdd2=distinct_rdd.distinct().map(lambda x: (x.split(" ")[1],x.split(",")[0]))
distinct_rdd2=distinct_rdd.distinct().map(lambda x: (x.split(" ")))
#2.flapMap
distinct_rdd3=distinct_rdd2.flatMap(lambda e:e).collect()
distinct_rdd2.reduceByKey(lambda)
distinct_rdd2.collect()
row=6
col=3
distinct_rdd4=[distinct_rdd3[r*col:(r+1)*col] for r in range(row)]
print(distinct_rdd4)
A = np.array(distinct_rdd4)

B=A.T
name = B[0]
subject = B[1]
score = B[2]

name_rdd=sc.parallelize(name)
subject_rdd=sc.parallelize(subject)
zip_rdd=subject_rdd.zip(name_rdd)
zip_rdd.collect()

tmp=list(map(lambda a,b : (a,b), name,subject))
tmp_rdd=sc.parallelize(tmp).collect()


# zip_rdd.reduceByKey(lambda a,b : a+',' +b).collect()
# # res = zip_rdd.reduceByKey(lambda a,b : a + ',' + b).collect()
# # res = zip_rdd.reduceByKey(lambda a,b : a + ',' + b).mapValues(lambda e : e.split(','))

# res.collect()

SyntaxError: invalid syntax (3929822564.py, line 11)

In [82]:
score_rdd = sc.textFile("/rdd/score.txt")
slist=score_rdd.collect()
#1. 중복제거, split
distinct_rdd=sc.parallelize(slist)
distinct_rdd2=distinct_rdd.distinct().collect()
distinct_rdd2

# distinct_rdd2=distinct_rdd.distinct().map(lambda x: (x.split(" ")[1],x.split(" ")[0],x.split(" ")[2]))
# distinct_rdd2.collect()
# distinct_rdd2=distinct_rdd.distinct().map(lambda x: (x.split(" ")))
#2.flapMap
# distinct_rdd2.flatMap(lambda e:e).collect()
# distinct_rdd2.reduceByKey(lambda)
# distinct_rdd2.collect()

['하명도 스파크 50',
 '홍길동 스파크 80',
 '이윤열 텐서플로우 90',
 '임요환 텐서플로우 100',
 '홍진호 텐서플로우 22',
 '임꺽정 스파크 60']

## Transformation - join()

In [28]:
#키를 기준으로 두 RDD를 결합
res = students.join(score_avg)
res.collect()

[('스파크', ({'명단': ['하명도', '홍길동', '임꺽정']}, {'평균점수': 63.333333333333336})),
 ('텐서플로우', ({'명단': ['홍진호', '임요환', '이윤열']}, {'평균점수': 70.66666666666667}))]

In [34]:
#[('스파크', {'명단': ['임꺽정', '하명도', '홍길동'], '평균점수': 63.333333333333336}),
# ('텐서플로우', {'명단': ['이윤열', '홍진호', '임요환'], '평균점수': 70.66666666666667})]
#위와 같이 딕셔너리를 하나로
def tmp(e):
    return dict(e[0], 평균점수=e[1]['평균점수'])
res = students.join(score_avg) \
            .mapValues(lambda e : tmp(e))
#[('스파크', {'명단': ['임꺽정', '하명도', '홍길동'], '평균점수': 63.333333333333336}),
# ('텐서플로우', {'명단': ['이윤열', '홍진호', '임요환'], '평균점수': 70.66666666666667})]

#2

res = students.join(score_avg) \
            .mapValues(lambda e : dict(e[0], 평균점수=e[1]['평균점수']))

res.collect()

[('스파크', {'명단': ['임꺽정', '하명도', '홍길동'], '평균점수': 63.333333333333336}),
 ('텐서플로우', {'명단': ['이윤열', '홍진호', '임요환'], '평균점수': 70.66666666666667})]

# Spark Shuffle - 중요

- 스파크에서 연산은 단일 파티션에서 작동   


- reduceByKey와 같이 특정 키에 매핑된 모든 값에 대한 연산을 수행하기 위해서는   
  파티션에 흩어진 특정키에 해당하는 값을 하나의 파티션으로 모아 줄 필요가 있음  


- 모든 키에 대한 모든 값을 찾기 위해 모든 파티션을 탐색하고, 해당하는 값들을 하나의 파티션으로 옮겨오는 과정을 셔플이라고 부른다.  


- 디스크 IO 또는 네트워크 IO가 발생함으로 비용이 매우 비싼 작업  



ex)   
filter : 각 파티션에 있는 하나의 튜플에 대해 조건을 탐색하면 됨으로 셔플 발생 x  
reduceByKey : 연산을 시작하기 위해서는 우선적으로 모든 파티션에 분산되어 있는 특정 키 값을 수집해야함으로 셔플 발생 
- 셔플이 발생하는 함수들 :
 - subtractByKey
 - groupBy
 - foldByKey
 - reduceByKey
 - aggregateByKey
 - transformations of a join of any type
 - distinct
 - cogroup

![shuffle](./img/shuffle.png)

# RDD Action

- transformation 연산을 통해 생성한 논리적 실행계획을 최적화 하여 연산을 수행. 빠른 연산이 가능

## Action Method

1. collect()
2. take()
3. takeOrdered()
4. top()
5. countByValue()
6. foreach()
7. reduce()
8. saveAsTextFile()
9. max()
10. min()
11. mean()
12. variance()
13. stdev()
14. stats()

## Action - collect()

In [37]:
#rdd에 있는 데이터를 리스트로 반환해주는 함수
score_rdd=sc.textFile('/rdd/score.txt')
score_rdd.collect()

['하명도 스파크 50',
 '홍길동 스파크 80',
 '임꺽정 스파크 60',
 '임요환 텐서플로우 100',
 '홍진호 텐서플로우 22',
 '홍진호 텐서플로우 22',
 '이윤열 텐서플로우 90']

## Action - take()

In [38]:
data = [1,2,3,4,5]
take_rdd =sc.parallelize(data)
take_rdd.take(3)

[1, 2, 3]

## Action - takeOrdered()

In [41]:
#to_rdd.takeOrdered(꺼낼개수)
data = [1,20,32,400,51,100,0.1]
to_rdd = sc.parallelize(data)

to_rdd.takeOrdered(4)
to_rdd.takeOrdered(4, lambda e:-e)

[400, 100, 51, 32]

## Action - top()

In [45]:
#top N 개 내림차순으로 추출
to_rdd.top(2)
to_rdd.top(5)

[400, 100, 51, 32, 20]

In [46]:
#문자-str은 첫 글짜끼리 비교
data = [1,20,32,400,51,100,0.1,'a']
to_rdd = sc.parallelize(data)
to_rdd.top(8,key=str)

['a', 51, 400, 32, 20, 100, 1, 0.1]

## Action - countByValue()

In [52]:
#각 값의 개수를 반환해줌

chars_rdd =sc.parallelize(['a','a','a','b','b','c','d'])
chars_rdd.countByValue()

defaultdict(int, {'a': 3, 'b': 2, 'c': 1, 'd': 1})

## Action - reduce()

In [55]:
nums = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
nums.reduce(lambda a,b : a+b)
#((1+2)+3)+4....

55

## Action - foreach()

In [13]:
#요소들 순차적으로 순회
#안에 있는 요소들을 추가작업 할때 사용할 수 있음 -리턴값이 없음
nums = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
nums = nums.foreach(lambda e:e*100)
nums
#foreach는 리턴 타입이 none 이다.
type(nums) #결과 : NoneType

# def f(x):ㅇ
#     print(x)
# nums.foreach(f)

# def f(x): 
#     print(x)
# nums=sc.parallelize([1, 2, 3, 4, 5]).foreach(f)

NoneType

## Action - saveAsTextFile()

In [59]:
#하둡에 저장

score_rdd = sc.textFile("/rdd/score.txt")
base = score_rdd.distinct() \
    .map(lambda e : e.split(' '))
students = base.map(lambda e :(e[1],e[0]))

students = base.map(lambda e :(e[1],e[0])).reduceByKey(lambda a,b : a +',' +b)\
                .mapValues(lambda e : e.split(',')).mapValues(lambda e : {'명단':e})


#split 없이 쓰기
#[e[0]] :길이가 하나짜리인  리스트로 만들기
students = base.map(lambda e :(e[1],[e[0]])).reduceByKey(lambda a,b : a +b)\
                .mapValues(lambda e : {'명단':e})

#2번 문제
#과목 먼저, 점수 뒤에
score_avg = base.map(lambda e:(e[1],[int(e[2])])).reduceByKey(lambda a,b : a+b) \
                .mapValues(lambda e : {'평균점수': sum(e)/len(e)})



#키를 기준으로 두 RDD를 결합
res = students.join(score_avg)
res.saveAsTextFile("/rdd/score_transform.txt")

In [60]:
#score_Transform 에 올라간거 확인-병렬처리로 빠르게 쓰려고 하는거라 파티션으로 나눠져서 올라감
test = sc.textFile("/rdd/score_transform.txt")
test.collect()

["('스파크', ({'명단': ['하명도', '홍길동', '임꺽정']}, {'평균점수': 63.333333333333336}))",
 "('텐서플로우', ({'명단': ['임요환', '홍진호', '이윤열']}, {'평균점수': 70.66666666666667}))"]

## Action - max, min, mean, variance, stdev, stats

In [62]:

nums = sc.parallelize([1, 4, 2, 3, 7, 6, 5])
nums.max()
nums.min()
nums.mean()
nums.variance()
nums.stdev()
nums.stats() #요약정보 (count: 7, mean: 4.0, stdev: 2.0, max: 7, min: 1)

(count: 7, mean: 4.0, stdev: 2.0, max: 7, min: 1)